body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.flip-card {
  background-image: url("bookroom.jpg");
  width: 400px;
  height: 500px;
  perspective: 1000px;
  border-radius: 20px;
  margin: 20px;
}
.button {
  border: 2px solid white;
  width: 100px;
  padding: 50px;
}
.flexb {
  display: flex;
  flex-direction: column;
}
